.LanguageButton { /* Language button styling */
  background-color: turquoise;
}
.LanguageButton:hover {
  background-color: #40E0D0;
}

.LanguageButtonContainer{
  position: absolute;
  z-index: 2;

}