.LanguageButton { /* Language button styling */
  background-color: turquoise;
}
.LanguageButton:hover { /* Language button hover effect colour */
  background-color: #40E0D0;
}

.LanguageButtonContainer{ /* Language button container styling */
  position: absolute;
  z-index: 2;

}