.textboxRow {
  display: flex;
  gap: 12px;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
}

.textboxColumn {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: stretch;
  justify-content: center;
}

.textBox {
    width: 400px;
    height: 400px;
    margin: 10px;
    padding: 5px;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-wrap: wrap;
    overflow-wrap: break-word;
}

.textBoxWide {
    width: 1800px;
    height: 200px;
    margin: auto;
    padding: 5px;
    border: 2px solid #9c1c1c;
    border-radius: 5px;
    background-color: #ffffff;
    text-wrap: wrap;
    overflow-wrap: break-word;
    display: flex;
}

.textBoxShort {
    height: 200px;
}

.textBoxThin {
    width: 200px;
}

.textBoxTitle {
    height: 50px;
    width: 400px;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    background-color: #f9f9f9;
}