.NavBar {
    background-color: rgb(217, 255, 0);
    height: 100px;
    width: 100vw
}

.TitleText {
    color: rgb(0, 0, 0);
    text-align: center;
    padding-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: larger;
    text-decoration: underline;
}

.subTitleText {
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: small;
}

.FakeNavBar {
    height: 150px;
    width: 100vw;
    background-color: white;
    color: rgb(0, 0, 0);
    text-align: center;
    padding-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-style: italic;
}

.FakeNavBar__image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.15;            /* subtle background image */
    pointer-events: none;
}