.NavBar {
    position: relative;
    background-color: rgb(255, 255, 255);
    height: 360px;
    width: 100vw;
    background-image: url('public/GrassField.jpg');
    background-size: cover;
}

.InfrontOfImage {
    position: relative;  
    z-index: 1;
}

.TitleText {
    color: rgb(0, 0, 0);
    text-align: center;
    padding-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: larger;
    text-decoration: underline;
}

.subTitleText {
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: small;
    z-index: 1;
}

.FakeNavBar {
    width: 100vw;
    height: 150px;            /* adjust height as needed */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;  /* fallback */
}

.FakeNavBar_image {
    position: absolute;
    z-index: 0;
    /* inset: 0; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* display: block; */
    /* opacity: 1; */
}

.NavBar_content {
    text-align: center;
    padding: 32px;
    width: 100%;
    box-sizing: border-box;
}