.NavBarMain {
    position: relative;
    background-color: rgb(255, 255, 255);
    height: 360px;
    width: 100%;
    background-image: url('public/GrassField.jpg');
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.InfrontOfImage {
    position: relative;  
    z-index: 1;
}

.TitleText {
    color: rgb(0, 0, 0);
    text-align: center;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: larger;
    text-decoration: underline;
}

.boxBackground {
    background-color: rgba(255, 255, 255, 0.4);
    display: inline-block;
    vertical-align: middle;
}

.subTitleText {
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: small;
    z-index: 1;
}

.NavBar_content {
    text-align: center;
    padding: 32px;
    width: 100%;
    box-sizing: border-box;
}

.NavBar2 {
    position: relative;
    background-color: rgb(255, 255, 255);
    height: 180px;
    width: 100%;
    background-image: url('public/LandFill.jpg');
    background-size: cover;
    padding-bottom: 10px;
}


 /* .NavBarOld {
    width: 100vw;
    height: 150px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white; 
}  */

/* .FakeNavBar_image {
    position: absolute;
    z-index: 0;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    opacity: 1;
} */